h2= @article.title
p= @article.body

= link_to 'Back', admin_car_articles_path(@car)
br
= link_to 'Edit', '#'
br
= link_to 'Destroy', admin_car_article_path(@car, @article), method: :delete, data: { confirm: 'Are you sure?' }
